<h1><%= @json["username"] %></h1>

<h3><%= @json["hashrate"] %> kb/s</h3>

<h4 class="valid"><%= @json["shares"]["valid"] %> valid shares</h4>
<h4 class="invalid"><%= @json["shares"]["invalid"] %> invalid shares</h4>
